<header class="sidebar">
  <a href="/" title="Charizard" aria-label="Charizard">
    <img src="https://www.gravatar.com/avatar/61a1341b9c84b0612c714cca0579f8bc?s=150&d=retro" height="150" width="150" class="avatar" />
  </a>

  <div class="sidebar-text">
    <section class="meta">
      <!-- github link -->
      <a href="https://github.com/nerdkid93" target="_blank" title="Check out my sauce code" aria-label="Check out my source code"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      <!-- facebook link -->
      <a href="https://facebook.com/chrisbeam93" target="_blank" title="Friend me on Facebook" aria-label="Friend me on Facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
      <!-- linkedin link -->
      <a href="https://linkedin.com/in/christopherbeam/" target="_blank" title="Connect with me on LinkedIn" aria-label="Connect with me on LinkedIn"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
      <!-- steam link -->
      <a href="https://steamcommunity.com/id/nerdkid93" target="_blank" title="Game with me on Steam" aria-label="Game with me on Steam"><i class="fa fa-steam fa-lg" aria-hidden="true"></i></a>
      <!-- reddit link -->
      <a href="https://reddit.com/u/nerdkid93" target="_blank" title=""><i class="fa fa-reddit-alien fa-lg" aria-hidden="true"></i></a>
    </section>

    <nav class="sections">
      <ul>
        <li><a href="/about">about me</a></li>
        <li><a href="/">posts</a></li>
        <li><a href="/projects">projects</a></li>
      </ul>
    </nav>
  </div>
</header>